dash-design-kit
gunicorn
pandas
flask_caching
dash-table
dash-html-components
Flask-Caching==1.10.1   # If you're using caching with Flask
flask
dash==2.11.0        # Dash framework for building web applications
Flask==2.2.3        # Flask, required for serving the Dash app
gunicorn==20.1.0    # WSGI server to run the app (recommended for production)
